<a href="https://colab.research.google.com/github/alda444/edd_1310_2021/blob/master/6deoctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
#String continuacion

numeros_txt="   1, 2, 3, 4  ,5  ,35   ,15   ,12"
print(numeros_txt)
numeros_txt=numeros_txt.lstrip().split(",")
print (numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ]=int(numeros_txt[j].strip())
print(numeros_txt)

#funcion range
#range (inicio, stop, incremento )
print (range(1,10,3))
rango= range (1,10,2)

for x in rango:
    print(x) 

rango= range(10)
for x in rango:
    print(x)

   1, 2, 3, 4  ,5  ,35   ,15   ,12
['1', ' 2', ' 3', ' 4  ', '5  ', '35   ', '15   ', '12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(1, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

# listas
- mutables
- declaran con []
- selector [int]
- pueden ser de caulquier tipo y mezcaldo

# tuplas
- No mutables
- declaran con ()
- selectos [int]

# diccionarios
-s on conjuntos de pares llave :valor
- son mutables
- Equivalentes a los objetoa JSON de Javascritp
# conjuntos
- Representacion de la teroia de conjuntos

In [27]:
# Listas
frutas=["Pera","Manzana","fresa","Kiwi","Naranja"]
print(frutas)
cosas=["cuadeno", 2 , 3.1416 , True , False , ["Rojo" ,"Azul"]]
print(cosas)
frutas[2]="Fresa"  #futas[2] =frutas[2].capitalize()
print(frutas)

#agregar a una lista
frutas.append("Aguacate")  #agregar una fruta al final
print(frutas)
frutas.insert(2,"Sandia")  #insertar una fruta en la poscion qu quieras(insert)
print(frutas)

#concatenar listas
fecha = ["06","10","2020"]  # 06/10/2020
print(fecha)
fecha_str= "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuadeno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [38]:
#eliminar elementos
cosas=["cuadeno", 2 , 3.1416 , True , False , ["Rojo" ,"Azul"]]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo= cosas.pop()
print(cosas)
print(algo)

algo = cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)

#vaciar una lista

#cosas.clear()
print(cosas)

#ordenar las listas
print(frutas)
frutas.sort()
print(frutas)

['cuadeno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuadeno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuadeno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro']
Lapiz
['cuadeno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuadeno', True, False, ['Rojo', 'Azul'], 'Libro']
['cuadeno', True, False, ['Rojo', 'Azul'], 'Libro']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [46]:
#slicing
cosas=["cuadeno", 2 , 3.1416 , True , False , ["Rojo" ,"Azul"]]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1])

numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:])

#sustituir rebanadas  -2,-2 ->[1,2,3,4,5,6,7,-2,-2,13,14,15]
numeros[8:13:] = [-2,-2]
print(numeros)

#preguntar por existencia
print(100 in numeros)

[True, False]
['cuadeno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
False

#listas multi dimension

listas dentro de listas

In [58]:
computadoras =["HP","Mac Book Pro 17","Mate book","Lenovo legion"]
oss=["windows 10","Linux","Android","ios",]

computo =  [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux"in computo[1])
dbms = [["Mysql","Open Souce" , False] ,["MS SQL Server","de paga",True]]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion']
['windows 10', 'Linux', 'Android', 'ios']
Mate book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate book', 'Lenovo legion'], ['windows 10', 'Linux', 'Android', 'ios'], [['Mysql', 'Open Souce', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga